body{
    background-color: rgb(252, 246, 238);
}
div#contenedor-principal{
    width: 70%;
    margin-left: 15%;
    margin-top: 3%;
    padding: 2%;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
}
.menu{
    margin-top: 5%;
}
.productos{
    background-color: bisque;
    border-radius: 14px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
    margin-top: 2%;
}
.productos:hover{
    background-color: rgb(245, 203, 149);
}
.imagenes-sec-1{
    padding-top: 6%;
}
ul#lista-nav{
    display: inline-block;
}
.obj-lista-nav{
    text-align: center;
}
.texto-info{
    display: flex;
    /*text-align: center;*/
}
.article-texto-info{
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0.5%;
    border-collapse: separate;
}
footer{
    background-color: bisque;
    padding: 2%;
}
.h3-footer{
    text-align: center;
}
.info-footer{
    text-align: justify;
}
.link-footer{
    text-decoration: none;
}